
<p>
  <strong>TITLE:</strong>

  <%= @album.title %> 
</p>

<p>
  <strong>DESCRIPTION:</strong>
  <%= @album.description %>
</p>
 <p> <%= image_tag @album.photo.url %>
 </p>
 <p> Album created at:<%= @album.time_at %> 
     </p>
<%= link_to 'Back', albums_path %>
<%= link_to 'Edit', edit_album_path(@album) %>



